.vert25 {margin: 25px 0;}
.hor20 {margin: 0 10px;}

.padd25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.padd20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.link-moderation-log #example .btn-success.btn-xs, .link-moderation-log #example .btn-danger.btn-xs {
    width: 50px;
}
.email-moderation-log #example .btn-success.btn-xs, .email-moderation-log #example .btn-danger.btn-xs {
    width: 50px;
}

table {
    table-layout: fixed;
    word-wrap:break-word;
    word-break: break-all;
}

.moderator .btn-lg, .moderator_email .btn-lg, .moderator_subdomain .btn-lg {padding: 15px 45px;}
.moderator .registrar, .moderator_email .email, .moderator_subdomain .registrar {display: inline-table;}
.moderator .user-stat, .moderator_email .user-stat, .moderator_subdomain .user-stat {margin-left: 5px; font-size: 18px; display: inline-table;}

.additional-fields {
    display: inline;
    margin: 0 0 0 25px;
}

.back-button {margin-right: 15px;}

#page_title {
    position: absolute;
    top: 53px;
    left: 15px;
    font-size: smaller;
}

.moderator-open-site {
    margin: 0 15px 0 0;
}

#example .skipped {
    background-color: #ffb9b9;
}

.counter {
    padding-left: 5px !important;
    padding-right: 5px !important;
    cursor: pointer;
}

@media screen and (min-device-width: 700px) {
    #page_title {
        position: absolute;
        top: 65px;
        left: 80px;
        font-size: initial;
    }
}