.vert25 {margin: 25px 0;}
.hor20 {margin: 0 10px;}

table {
    table-layout: fixed;
    word-wrap:break-word;
    word-break: break-all;
}

.moderator .btn-lg, .moderator_email .btn-lg {padding: 15px 45px;}
.moderator .registrar, .moderator_email .email {position: absolute; margin: 15px 20px;}

.back-button {margin-right: 15px;}